<div>
  <div>
    <h1>
      List of all foods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new food
    </h2>

    <form action="/insert_food" method="post">
      <div>
        <label for="image_url_box">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create food
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" >
      <tr>

        <th>
        </th>

        <th>
          Name
        </th>

        <th>
          Most Recent Rating
        </th>

        <th>
          Most Recent Description
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_foods.each do |a_food| %>
        <% review = a_food.reviews.order({ :created_at => :desc }).at(0)%>
      <tr>

        <td>
          <img width="200" height="200" src="<%= a_food.image_url%>" alt="<%=a_food.name%>">
        </td>

        <td>
          <%= a_food.name %>
        </td>
<% if review != nil %>
        <td>
          <%= review.rating %>/10
        </td>
        <td>
          <%= review.description %>
        </td>
<% else %>
<td>N/A</td><td>N/A</td>
<% end %>
        <td>
          <a href="/foods/<%= a_food.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
