<div>
  <div>
    <h1>
      Category: <%=@the_category.name%>
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_category.name %>">
      </div>

      <button>
        Update category
      </button>
    </form>
  </div>
</div>

<hr>
<h2>
Foods
</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image url
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @the_category.foods.each do |a_food| %>
      <tr>
        <td>
          <%= a_food.id %>
        </td>

        <td>
          <%= a_food.image_url %>
        </td>

        <td>
          <%= a_food.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_food.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_food.updated_at) %> ago
        </td>

        <td>
          <a href="/foods/<%= a_food.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
