<div>
  <div>
    <h1>
      Category: <%=@the_category.name%>
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_category.name %>">
      </div>

      <button>
        Update category
      </button>
    </form>
  </div>
  <div>
  <h2>
  Add existing food to category
  </h2>
    <form action="/insert_categorisation" method="post">
      <div>
        <label for="food_id_box">
          Food
        </label>
        <select name="query_food_id", id="food_id_box">
        <% otherFoods = Food.all - @the_category.foods %>
        <% otherFoods.each do |food| %>
          <option value="<%= food.id %>"><%= food.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%=@the_category.name%>" disabled>
        <input type="hidden" name="query_category_id" value="<%=@the_category.id%>">
      </div>

      <button>
        Add food to category
      </button>
    </form>
  </div>
</div>

<hr>
<h2>
Foods
</h2>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
        </th>

        <th>
          Name
        </th>

        <th>
          Most Recent Rating
        </th>

        <th>
          Most Recent Description
        </th>

        <th>
        </th>
      </tr>

      <% @the_category.foods.each do |a_food| %>
        <% review = a_food.reviews.order({ :created_at => :desc }).at(0)%>
        
      <tr>

        <td>
          <img src="<%= a_food.image_url%>" alt="<%=a_food.name%>">
        </td>

        <td>
          <%= a_food.name %>
        </td>
<% if review != nil %>
        <td>
          <%= review.rating %>/10
        </td>
        <td>
          <%= review.description %>
        </td>
<% else %>
<td>N/A</td><td>N/A</td>
<% end %>
        <td>
          <a href="/foods/<%= a_food.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
