<div>
  <div>
    <h1>
      All reviews
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>

        </th>
        <th>
          Food
        </th>

        <th>
          Rating
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
        <% food = a_review.food%>
      <tr>
        <td>
         <img src=<%= food.image_url%> alt="<%= food.name%>">
        </td>

        <td>
          <%= food.name %>
        </td>

        <td>
          <%= a_review.rating %>/10
        </td>

        <td>
          <%= a_review.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_review.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_review.updated_at) %> ago
        </td>

        <td>
          <a href="/reviews/<%= a_review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
