<div>
  <div>
    <h1>
      Review for <%= @food.name%>
    </h1>

    <div>
      <div>
        <a href="/reviews">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_review/<%= @the_review.id %>">
          Delete review
        </a>
      </div>
    </div>

    <dl>
      <img src=<%=@food.image_url%> alt=<%=@food.name%>>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @the_review.rating %>/10
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_review.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit review
    </h2>

    <form action="/modify_review/<%= @the_review.id %>"  method="post" >
      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="number" id="rating_box" min="0" max="10" name="query_rating" value="<%= @the_review.rating %>">
      </div>
      <input type="hidden" name="query_food_id" value="<%= @food.id%>">
      <input type="hidden" name="query_user_id" value="<%= current_user.id%>">

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_review.description %></textarea>
      </div>

      <button>
        Update review
      </button>
    </form>
  </div>
</div>

<hr>
